@charset "UTF-8";
body {
  color: #212121;
  background: #ffffff;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

/* Утилиты*/
h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section-title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .section-title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.17;
  }
}

/* page-header */
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  outline: 1px solid red;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.nav-box {
  border-bottom: 1px solid #ececec;
}

/* logo */
.logo {
  padding-top: 16px;
  padding-bottom: 16px;
}

@media screen and (min-width: 768px) {
  .logo {
    margin-right: 81px;
  }
}

@media screen and (min-width: 1200px) {
  .logo {
    margin-left: 15px;
    margin-right: 85px;
    padding-top: 24px;
    padding-bottom: 23px;
  }
}

.logo-item {
  width: 141px;
  height: 28px;
}

@media screen and (min-width: 1200px) {
  .logo-item {
    width: 153px;
    height: 31px;
  }
}

/* site-navigation */
.site-nav {
  display: none;
}

.site-nav .item-nav:not(:last-child) {
  margin-right: 50px;
}

@media screen and (min-width: 480px) {
  .site-nav {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .site-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.site-nav-link {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
  color: #212121;
  text-decoration: none;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.site-nav-link:hover, .site-nav-link:focus {
  color: #2196f3;
}

.site-nav-link::after {
  position: absolute;
  content: "";
  bottom: 0;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
  opacity: 0;
}

.site-nav-link.current,
.site-nav-link.current::after {
  color: #2196f3;
  opacity: 1;
}

/* email-and-phone */
.page-header-adres {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
}

@media screen and (min-width: 480px) {
  .page-header-adres {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .page-header-adres {
    display: block;
  }
}

@media screen and (min-width: 1200px) {
  .page-header-adres {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
}

.page-header-adres .adres-item + .adres-item {
  margin-left: 30px;
}

@media screen and (min-width: 768px) {
  .page-header-adres .adres-item + .adres-item {
    margin-left: 0;
  }
}

@media screen and (min-width: 1200px) {
  .page-header-adres .adres-item + .adres-item {
    margin-left: 30px;
  }
}

.adres-item-link {
  display: inline-block;
  padding-top: 32px;
  padding-bottom: 31px;
  text-decoration: none;
  color: #757575;
  fill: #757575;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

@media screen and (min-width: 768px) {
  .adres-item-link {
    padding-top: 5px;
    padding-bottom: 5px;
  }
}

@media screen and (min-width: 1200px) {
  .adres-item-link {
    padding-top: 32px;
    padding-bottom: 31px;
  }
}

.adres-item-link:hover, .adres-item-link:focus {
  color: #2196f3;
  fill: #2196f3;
}

.adres-item-envelope {
  width: 16px;
  height: 12px;
  margin-right: 10px;
}

.adres-item-telephone {
  width: 10px;
  height: 15px;
  margin-right: 10px;
}

/* hero */
.hero {
  text-align: center;
  padding-bottom: 280px;
  max-width: 480px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(47, 48, 58, 0.8);
  background-image: url(../img/Header_img.jpg);
}

@media screen and (min-width: 768px) {
  .hero {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1600px;
    height: 600px;
  }
}

.overlay {
  max-width: 480px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(47, 48, 58, 0.8);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media screen and (min-width: 768px) {
  .overlay {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .overlay {
    max-width: 1600px;
    height: 600px;
  }
}

.hero-title {
  padding-top: 118px;
  padding-bottom: 30px;
  color: #ffffff;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

@media screen and (min-width: 1200px) {
  .hero-title {
    padding-top: 200px;
    padding-bottom: 30px;
    font-size: 44px;
    line-height: 1.36;
  }
}

.button {
  min-width: 200px;
  height: 50px;
  display: inline-block;
  border: 1px solid transparent;
  border-radius: 4px;
  color: #ffffff;
  background-color: #2196f3;
  border-color: #2196f3;
  font-family: Roboto;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  text-align: center;
}

/* section2-advantages */
.benefits {
  display: block;
}

@media screen and (min-width: 768px) {
  .benefits {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .benefits {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.benefits .benefits-item {
  margin-top: 30px;
}

@media screen and (min-width: 768px) {
  .benefits .benefits-item {
    width: calc((100% - 2 * 30px) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .benefits .benefits-item {
    width: calc((100% - 4 * 30px) / 4);
    margin: 0 15px;
  }
}

.benefits-background {
  display: block;
  width: 270px;
  border-radius: 4px;
  background-color: #f5f4fa;
}

.benefits-item-element {
  width: 70px;
  height: 70px;
  margin: 25px 100px;
}

.benefits-title {
  margin-top: 30px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  text-transform: uppercase;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .benefits-title {
    text-align: start;
  }
}

.benefits-text {
  margin-top: 10px;
  color: #757575;
  font-size: 14px;
  line-height: 1.71;
}

.padding {
  padding-top: 30px;
}

@media screen and (min-width: 768px) {
  .padding {
    padding: 45px 0;
  }
}

@media screen and (min-width: 1200px) {
  .padding {
    padding-bottom: 0;
  }
}

/* section3-offer */
.offer {
  display: none;
}

.offer .item + .item {
  margin-left: 30px;
}

@media screen and (min-width: 1200px) {
  .offer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.offer-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.offer-caption {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-top: 27px;
  padding-bottom: 27px;
  color: #ffffff;
  background: rgba(47, 48, 58, 0.8);
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
}

/* section4-team */
.background {
  background: #f5f4fa;
}

.team {
  display: block;
}

@media screen and (min-width: 768px) {
  .team {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .team {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    margin-top: 0;
  }
}

.team .team-item {
  margin-top: 30px;
}

@media screen and (min-width: 768px) {
  .team .team-item {
    width: calc((100% - 2 * 30px) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .team .team-item {
    width: calc((100% - 4 * 30px) / 4);
    margin: 0 15px;
  }
}

.member-background {
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  -webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
}

.team-member {
  margin-top: 30px;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team-member-position {
  margin-bottom: 16px;
  color: #757575;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team-member-social-pages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 24px;
}

.team-member-social-pages .item + .item {
  margin-left: 10px;
}

.member-social-link {
  --color1: #afb1b8;
  fill: #ffffff;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.member-social-link:hover, .member-social-link:focus {
  --color1: #ffffff;
  fill: #2196f3;
}

/* section5-customers */
.customers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 1199px) {
  .customers {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.customers .item {
  width: calc((100% - 2 * 30px) / 2);
  margin: 15px;
}

@media screen and (min-width: 768px) {
  .customers .item {
    width: calc((100% - 3 * 30px) / 3);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .customers .item {
    width: calc((100% - 6 * 30px) / 6);
    margin: 0 15px;
  }
}

.no-padding {
  padding: 0;
}

.customers-background {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 90px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  fill: #afb1b8;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-background:hover, .customers-background:focus {
  border-color: #2196f3;
  fill: #2196f3;
}

/* (100% - количество марджинов в строке * значение марджина) / количество елементов в строке */
/* footer */
.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.baseline {
  position: relative;
  display: block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 1200px) {
  .baseline {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

@media screen and (min-width: 768px) {
  .address-container {
    display: inline-block;
  }
}

@media screen and (min-width: 1200px) {
  .address-container {
    display: block;
  }
}

.address-logo-link {
  display: block;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .address-logo-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.address-map-item {
  margin-top: 20px;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .address-map-item {
    text-align: start;
  }
}

.address-item {
  margin-top: 9px;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .address-item {
    text-align: start;
  }
}

.address-map {
  display: block;
  color: #ffffff;
  font-style: normal;
  text-decoration: none;
  font-size: 14px;
  line-height: 1.71;
}

.address-mail,
.address-tel {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  text-decoration: none;
  font-size: 14px;
  line-height: 1.71;
}

.social-pages-container {
  margin-top: 60px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .social-pages-container {
    position: absolute;
    right: 89px;
    margin-top: 0;
    display: inline-block;
  }
}

@media screen and (min-width: 1200px) {
  .social-pages-container {
    position: static;
    margin-left: 69px;
    text-align: start;
  }
}

.footer-accede {
  margin-bottom: 20px;
  color: #ffffff;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
}

.footer-accede-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.footer-accede-social .social-item + .social-item {
  margin-left: 10px;
}

.social-item-element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  fill: #ffffff;
  border-radius: 50%;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-item-element:hover, .social-item-element:focus {
  background-color: #2196f3;
}

.subscribe-container {
  margin-top: 60px;
}

@media screen and (min-width: 1200px) {
  .subscribe-container {
    margin-left: 94px;
  }
}

.footer-subscribe {
  margin-bottom: 20px;
  color: #ffffff;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .footer-subscribe {
    text-align: start;
  }
}

/* footer-form */
.footer-form {
  text-align: center;
}

.footer-form-input {
  width: 100%;
  height: 50px;
  padding-left: 11px;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: #2f303a;
}

@media screen and (min-width: 768px) {
  .footer-form-input {
    display: block;
    width: 463px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 1200px) {
  .footer-form-input {
    display: inline-block;
    width: 358px;
  }
}

/* footer-button */
.footer-button {
  margin-top: 20px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 29px;
  padding-right: 28px;
}

@media screen and (min-width: 1200px) {
  .footer-button {
    margin-top: 0;
    margin-left: 12px;
  }
}

.button-icon {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 10px;
}

/* page2-portfolio */
.portfolio-selection {
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}

.portfolio-selection .item + .item {
  margin-left: 8px;
}

.selection-button {
  text-align: center;
  display: inline-block;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 6px 22px;
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.selection-button.primary {
  color: #ffffff;
  background-color: #2196f3;
  border-color: #2196f3;
}

.selection-button.secondary {
  color: #212121;
  background-color: #f5f4fa;
  border-color: #f5f4fa;
}

.selection-button:hover, .selection-button:focus {
  color: #ffffff;
  background-color: #2196f3;
  border-color: #2196f3;
}

.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.flex-element {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
  outline: 1px solid #eeeeee;
}

.flex-element:nth-child(3n) {
  margin-right: 0;
}

.flex-element:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.portfolio-works-link {
  display: block;
  text-decoration: none;
  border: 1px solid #eeeeee;
}

.portfolio-works-link:hover, .portfolio-works-link:focus {
  -webkit-box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
          box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
}

.portfolio-works-title {
  margin-top: 20px;
  margin-bottom: 4px;
  padding-left: 24px;
  padding-right: 24px;
  color: #212121;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-works-name {
  margin-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
  color: #757575;
  font-size: 16px;
  line-height: 1.88;
}

.overlay-active {
  display: block;
  position: relative;
  overflow: hidden;
}

.overlay-text {
  position: absolute;
  top: 0;
  display: block;
  width: 100%;
  height: 294px;
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(101%);
          transform: translateY(101%);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-works-link:hover .overlay-text,
.portfolio-works-link:focus .overlay-text {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.portfolio-works-text {
  position: absolute;
  /* overflow: scroll; */
  top: 63px;
  left: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 322px;
  height: 168px;
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.5);
  font-size: 18px;
  line-height: 1.56;
}

/* form-order" */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal-form {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  min-width: 528px;
  min-height: 581px;
  padding: 40px;
  background: #ffffff;
  -webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.form-appeal {
  display: block;
  margin-bottom: 30px;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
}

.form-list {
  padding: 0;
  list-style: none;
}

.form-item {
  position: relative;
}

.form-item input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  width: 448px;
  height: 40px;
  margin-bottom: 28px;
  padding: 10px 20px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
}

.form-item input:hover,
.form-item input:focus {
  border: 1px solid #2196f3;
}

.form-label {
  position: absolute;
  top: 12px;
  left: 42px;
  color: #757575;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field:hover > .form-label,
.form-field:focus-within > .form-label,
.form-field input:not(:placeholder-shown) + .form-label {
  color: #2196f3;
  -webkit-transform: translate(-26px, -32px);
          transform: translate(-26px, -32px);
}

.form-icon {
  position: absolute;
  top: 12px;
  left: 16px;
  fill: #212121;
}

.form-field:hover > .form-icon,
.form-field:focus-within > .form-icon {
  fill: #2196f3;
}

.form-item-comment {
  position: relative;
}

.comment {
  width: 448px;
  height: 120px;
  padding: 12px 16px;
  margin-bottom: 20px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.comment:hover, .comment:focus {
  border: 1px solid #2196f3;
}

.textarea-label {
  position: absolute;
  top: 15px;
  left: 16px;
  color: #757575;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-item-comment:hover > .textarea-label,
.form-item-comment:focus-within > .textarea-label,
.form-item-comment textarea:not(:placeholder-shown) + .textarea-label {
  color: #2196f3;
  -webkit-transform: translate(0px, -34px);
          transform: translate(0px, -34px);
}

.field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
  margin-left: 8px;
}

.checkbox {
  /* -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute; */
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 4px;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox:checked + .icon {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  border-color: transparent;
  background-color: #2196f3;
  background-image: url("../img/icon_check.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-origin: border-box;
}

.checkbox-text {
  display: inline-block;
  margin-left: 8px;
  color: #757575;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-align: center;
}

.checkbox-link {
  color: #2196f3;
}

.button-send {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 55px;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: #ffffff;
  background-color: #2196f3;
  border-color: #2196f3;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
}

.modal-close {
  position: absolute;
  top: 8px;
  right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 50%;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover, .modal-close:focus {
  fill: #2196f3;
}
/*# sourceMappingURL=main.css.map */