@import "./utils/variables";
@import "./utils/utils";
@import "./components/page-header";
@import "./components/logo";
@import "./components/nav-memu-mobil";
@import "./components/site-navigation";
@import "./components/email-and-phone";
@import "./components/hero";
@import "./components/section2-advantages";
@import "./components/section3-offer";
@import "./components/section4-team";
@import "./components/section5-customers";
@import "./components/footer";
@import "./components/page2-portfolio";
@import "./components/form-order";
