/* email-and-phone */
.page-header-adres {
  display: none;
  align-items: center;
  margin-left: auto;

  & .adres-item + .adres-item {
    margin-left: 30px;
  }

  @media screen and (min-width: 480px) {
    display: none;
  }

  @media screen and (min-width: 768px) {
    display: block;
  }

  @media screen and (min-width: 1200px) {
    display: inline-flex;
  }
}

.adres-item-link {
  display: inline-block;
  padding-top: 32px;
  padding-bottom: 31px;
  text-decoration: none;
  color: $second-text-color;
  fill: $second-text-color;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $accent-color;
    fill: $accent-color;
  }
}

.adres-item-envelope {
  width: 16px;
  height: 12px;
  margin-right: 10px;
}

.adres-item-telephone {
  width: 10px;
  height: 15px;
  margin-right: 10px;
}
