/* section3-offer */

.offer {
  display: none;

  & .item + .item {
    margin-left: 30px;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
  }
}

.offer-link {
  display: flex;
  position: relative;
}

.offer-caption {
  position: absolute;
  bottom: 0;
  width: 100%;

  padding-top: 27px;
  padding-bottom: 27px;

  color: $light-text-color;
  background: rgba(47, 48, 58, 0.8);
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
}
