/* section2-advantages */

.benefits {
  display: block;

  @media screen and (min-width: 480px) {
    display: block;
  }

  @media screen and (min-width: 768px) {
    display: flex;
  }
}

.benefits .benefits-item + .benefits-item {
  @media screen and (min-width: 1200px) {
    margin-left: 30px;
  }
}

.benefits .benefits-item:not(:last-child) {
  margin-bottom: 30px;

  @media screen and (min-width: 1200px) {
    margin-bottom: 0;
  }
}

.benefits-background {
  display: block;
  width: 270px;
  border-radius: 4px;
  background-color: #f5f4fa;
}

.benefits-item-element {
  width: 70px;
  height: 70px;
  margin: 25px 100px;
}

.benefits-title {
  margin-top: 30px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  text-transform: uppercase;
  text-align: center;

  @media screen and (min-width: 1200px) {
    text-align: start;
  }
}

.benefits-text {
  margin-top: 10px;
  color: $second-text-color;
  font-size: 14px;
  line-height: 1.71;
}

.no-padding-bottom {
  padding-bottom: 0;
}
