/* section2-advantages */

.benefits {
  display: block;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    flex-wrap: nowrap;
  }
}

.benefits .benefits-item {
  margin-top: 30px;
  // outline: 1px solid red;

  @media screen and (min-width: 768px) {
    width: calc((100% - 2 * 30px) / 2);
    margin: 15px;
  }

  @media screen and (min-width: 1200px) {
    width: calc((100% - 4 * 30px) / 4);
    margin: 0 15px;
  }
}

.benefits-background {
  display: block;
  width: 270px;
  border-radius: 4px;
  background-color: #f5f4fa;
}

.benefits-item-element {
  width: 70px;
  height: 70px;
  margin: 25px 100px;
}

.benefits-title {
  margin-top: 30px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  text-transform: uppercase;
  text-align: center;

  @media screen and (min-width: 1200px) {
    text-align: start;
  }
}

.benefits-text {
  margin-top: 10px;
  color: $second-text-color;
  font-size: 14px;
  line-height: 1.71;
}

.padding {
  padding-top: 30px;

  @media screen and (min-width: 768px) {
    padding: 45px 0;
  }
  @media screen and (min-width: 1200px) {
    padding-bottom: 0;
  }
}
