/* site-navigation */
.site-nav {
  display: none;

  & .item-nav:not(:last-child) {
    margin-right: 50px;
  }

  @media screen and (min-width: 480px) {
    display: none;
  }

  @media screen and (min-width: 768px) {
    display: flex;
  }
}

.site-nav-link {
  position: relative;
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;

  color: $primary-text-color;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.site-nav-link::after {
  position: absolute;
  content: "";
  bottom: 0;
  width: 100%;
  height: 4px;
  background-color: $accent-color;
  border-radius: 2px;
  opacity: 0;
}

.site-nav-link.current,
.site-nav-link.current::after {
  color: $accent-color;
  opacity: 1;
}
